object[type="application/pdf"] {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 600px; /* Adjust the height as needed */
}

.title {
  font-size: 8rem;
  color: blue;
}

.pdf-container {
  background-color: transparent;
}

.pdf-container iframe,
.pdf-container embed[type="application/pdf"],
.pdf-container object[type="application/pdf"] {
  width: 100%;
  height: 600px; /* Adjust the height as needed */
  border: none;
  background-color: white
}
